<% layout('layouts/pickerboiler') -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg mt-5">
                    <div class="card-header text-center">
                        <h1 class="title">The Gift Lists</h1>
                        <p>Just to recap...<br>The maximum amount anyone can spend on any person picked is<br>$75 (tax not included).</p>
                        <% if (peeps.length) {%>
                            <p><sub>Each list item below is ready to search for convenience.<br>Just click/tap the item to quick search Google, if you want to.</sub></p>
                        <% } %>
                    </div>
                    <div class="card-body p-4">
                        <% if (peeps.length){ %>
                            <% for (let peep of peeps) {%>
                                <div class="card border shadow mb-1">
                                    <div class="card-body">
                                        <p class="peep"><i class="bi<%= ((peep.hasBeenPicked) ? ' bi-check-circle-fill text-success' : ' bi-circle') %>" title="<%= ((peep.hasBeenPicked) ? 'Has Been Picked' : 'Not Picked Yet') %>"></i><%= peep.name %></p>
                                        <% for (let gift of peep.gifts) {%>
                                            <span class="gift-item mb-2">
                                                <img src="/img/listIcon-gift.png" class="d-inline gift-item-img" alt="Gift Icon">
                                                <a href="https://www.google.com/search?q=<%= gift.replaceAll(' ', '+') %>" target="_blank"><%= gift %></a>
                                            </span>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        <% }else{ %>
                            <p style="text-align: center;">No gift lists have been entered yet.<br>Be the first to add their gift list.</p>
                        <% } %>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <script src="/js/picker/app.list.js"></script>